.pageContainer {
    display: flex;
    padding: 60px 0px 100px;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    text-align: center; /* Center align text */
  }
  
  .contentContainer {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 16px;
    height: min-content;
    justify-content: center;
    max-width: 598px;
    overflow: visible;
    padding: 16px;
    position: relative;
    width: 100%
  }
  
  
  .content {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
  }
  
  h1.title{
    font-family: "Inter-BlackItalic","Inter", sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: -1.5px;
    line-height: 1.2em;
    text-align: start;
    margin: 0;
    text-decoration: none;
    text-transform: none
  }

